{{ if .Site.Params.maintenance.enable }}

{{ partial "maintenance.html" . }}

{{ else }}

{{ partial "header.html" . }}

{{ partial "page-title.html" . }}

<section class="company-description">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInLeft" data-wow-duration="250ms">
                {{ with .Site.Data.about.image }}<img src="{{ . | absURL }}" alt="" class="img-fluid" />{{ end }}
            </div>
            <div class="col-md-6">
                <div class="block">
                    {{ with .Site.Data.about.title }}
                    <h3 class="subtitle wow fadeInDown" data-wow-duration="250ms">{{ . }}</h3>
                    {{ end }}
                    {{ with .Site.Data.about.description }}
                    <p class="wow fadeInDown" data-wow-duration="250ms">{{ . | safeHTML }}</p>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-feature clearfix">
    <div class="container-fluid">
        <div class="row">
            {{ range $index, $element := .Site.Data.about.aboutItem }}
            <div class="col-lg-4 px-0">
                {{ $class := add $index 1 }}
                <div class="block about-feature-{{ $class }} wow fadeInDown" data-wow-duration="250ms">
                    {{ with .title }}
                    <h2>{{ . }}</h2>
                    {{ end }}
                    {{ with .description }}
                    <p>{{ . }}</p>
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>

{{ partial "team.html" . }}

{{ partial "associates.html" . }}

{{ partial "cta.html" . }}

{{ partial "footer.html" . }}

{{ end }}