{{ if .Site.Params.associates.enable }}
<section id="associates">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ with .Site.Data.associate.title }}
                <h2 class="subtitle text-center wow fadeInUp animated" data-wow-duration="250ms" data-wow-delay=".3s">{{ . }}</h2>
                {{ end }}
                {{ with .Site.Data.associate.subtitle }}
                <p class="subtitle-des text-center wow fadeInUp animated" data-wow-duration="250ms" data-wow-delay=".5s">{{ . }}</p>
                {{ end }}
                <div id="associates-logo" class="associates-logo-slider">
                    {{ range .Site.Data.associate.associatesLogo }} <img class="img-fluid mx-2" src="{{ .image | absURL }}" alt="associate-logo" /> {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}