{{ if .Site.Params.maintenance.enable }}

{{ partial "maintenance.html" . }}

{{ else }}

{{ partial "header.html" . }}

{{ partial "page-title.html" . }}

<section id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="block">
                    <h2 class="subtitle wow fadeInDown" data-wow-duration="250ms" >{{ .Site.Data.contact.openingTitle }}</h2>
                    <div class="subtitle-des block wow fadeInDown"  data-wow-duration="250ms">
                        {{ .Site.Data.contact.openingHours1 | safeHTML }}
                        <br>
                        {{ .Site.Data.contact.openingHours2 | safeHTML }}
                    </div>
                </div>
            </div>
            <div class="col">
                    <div class="block">
                        <h2 class="subtitle wow fadeInDown" data-wow-duration="250ms" >{{ .Site.Data.contact.emailTitle }}</h2>
                        <div class="email wow fadeInDown" data-wow-duration="250ms" >
                                <i class="ion-ios-email-outline"></i>
                                <p><a href="mailto:{{ .Site.Data.contact.mail1 }}">{{ .Site.Data.contact.mail1 }}</a></p>
                            </div>
                    </div>
                </div>
        </div>
        <br>
        <div class="map-area">
            <h2 class="subtitle wow fadeInDown" data-wow-duration="250ms" >{{ .Site.Data.contact.mapTitle }}</h2>
            <p class="subtitle-des wow fadeInDown" data-wow-duration="250ms" >{{ .Site.Data.contact.mapSubtitle }}</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="address wow fadeInLeft" data-wow-duration="250ms" >
                    <i class="ion-ios-location-outline"></i>
                    <h5>{{ .Site.Data.contact.officeAddress1 }}</h5>
                    <i class="ion-ios-telephone-outline"></i>
                    <p><a href="tel:+39{{ .Site.Data.contact.phone1 }}">{{ .Site.Data.contact.phone1 }}</a></p>
                </div>
                <iframe class="address wow fadeInLeft"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2919.867983463677!2d13.414289716313753!3d42.95998637915117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa15d22aea024cb6!2sAutoscuola+Silveri+Di+Silveri+A.+%26+C.+(S.N.C.)!5e0!3m2!1sit!2sit!4v1543104158047"
                    width="100%"
                    height="300"
                    frameborder="0"
                    style="border:0; padding:0%"
                    allowfullscreen
                ></iframe>
            </div>
            <div class="col-md-6">
                <div class="address wow fadeInRight" data-wow-duration="250ms" >
                    <i class="ion-ios-location-outline"></i>
                    <h5>{{ .Site.Data.contact.officeAddress2 }}</h5>
                    <i class="ion-ios-telephone-outline"></i>
                    <p><a href="tel:+39{{ .Site.Data.contact.phone2 }}">{{ .Site.Data.contact.phone2 }}</a></p>
                </div>
                <iframe class="address wow fadeInRight"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2924.5193561498168!2d13.472934516311998!3d42.86188107915647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132e0314c770b4fb%3A0xbea4891d6bf5d5f2!2sAutoscuola+Silveri+Di+Silveri+A.+%26+C.+Snc!5e0!3m2!1sit!2sit!4v1543104347749"
                    width="100%"
                    height="300"
                    frameborder="0"
                    style="border:0; padding:0%"
                    allowfullscreen
                ></iframe>
            </div>
        </div>
    </div>
</section>

<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><div class="block"></div></div>
        </div>
    </div>
</section>

<!-- {{ partial "cta.html" . }} -->

{{ partial "footer.html" . }}

{{ end }}